<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="home_header">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/home.css" media="(min-width:600px)" type="text/css" />
    <link rel="stylesheet" href="/css/page_header.css" media="(min-width:600px)" type="text/css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <title>재욱이와 깨끗한나라</title>
</head>