footer {
  width: 100%; /*헤더와 같은 사이즈*/
  height: 120px;
  background-color: skyblue;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: flex;
}

#footer_box {
  width: 100%;
  height: 150px;
}

#footer_logo img {
  float: left;
  margin: 10px;
  margin-left: 20px;
}

#footer_box #address {
  float: left;
  margin-left: 5px;
  margin-top: 25px;
  text-align: justify;
}
