<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/question_header :: question_header" />

<style> body{
    background-color: #C2D9A2;
    font-family: 'Sunflower', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}
</style>

<body>
    <div class= "question1_box" th:object="${questionFrom}">

            <img class="earth" src="/img/earth.png">

            <div class="number">

                <p th:text="${questionForm.questionNo}"></p>

            </div>


            <section th:if="${questionForm.questionNo}==1">
                <p class="questionText" th:text="${questionForm.questionText}"> </p>
                <p class="questionText2"> 당신의 선택은? </p>
                <img class= "question1" src="/img/지각.png" alt="질문 사진">
            </section>


            <section th:if="${questionForm.questionNo}==2">
                <p class="questionText" th:text="${questionForm.questionText}"> </p>
                <p class="questionText2"> 당신의 선택은? </p>
                <img class= "question1" src="/img/뭐입.png" alt="질문 사진">
            </section>

            <section th:if="${questionForm.questionNo}==3">
                <p class="questionText" th:text="${questionForm.questionText}"> </p>
                <p class="questionText2"> 당신의 선택은? </p>
                <img class= "question1" src="/img/출근길.png" alt="질문 사진">
            </section>
                <div class="answer">
                        <div class="answer1">
                        <a
                                th:text="${questionForm.answer1}"
                                th:href="@{/question(questionNo=${questionForm.questionNo+1})}"
                                > </a>
                        </div>
                    <div class="answer1">
                        <a
                                th:text="${questionForm.answer2}"
                                th:href="@{/question(questionNo=${questionForm.questionNo+1})}"
                        > </a>
                    </div>

                </div>



    </div>
</body>
</html>