<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/signup_header :: signup_header"/>


<style>
    .fieldError{
        border-color: #bd2130;
    }
    body{
        font-family: 'Sunflower', sans-serif;
         background-color: #C2D9A2;
    }
    p{
        font-size:12px;
    }
</style>

<body>
<div class="signUp_container">
    <img class="Text" src="/img/logo1.png" alt="Text">
    <h2 class="joinLetter">회원가입하고 같이 탄소줄이러 가볼까요?</h2>
    <hr class="line">

    <form action="/signup" th:object="${signupForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <!-- thymeleaf 와 Spring Validation 에서 제공하는 기능-->
        <!-- error를 잡으면 빨간 테두리 -->
        <input type="text" th:field="*{email}" class="userSignUp" placeholder="user@example.com"
            th:class="${#fields.hasErrors('email')}?'userSignUp fieldError' : 'userSignUp'" required autofocus>
        <!-- 밑에 에러 문구-->
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Incorrect Data </p>

        <input type="text" th:field="*{name}" class="userSignUp" placeholder="홍길동"
            th:class="${#fields.hasErrors('name')}?'userSignUp fieldError' : 'userSignUp'">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Incorrect Data </p>

        <input type="password" th:field="*{password}"  class="userSignUp" placeholder="비밀번호"
            th:class="${#fields.hasErrors('password')}?'userSignUp fieldError' : 'userSignUp'">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Incorrect Data </p>

        <input type="text" th:field="*{city}" class="userSignUp" placeholder="서울시동작구"
            th:class="${#fields.hasErrors('city')}?'userSignUp fieldError':'userSignUp'">
        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> Incorrect Data </p>
        <button type="submit" >가입</button>
    </form>

        <footer class="join_">
            <p class="join">계정이 있으신가요?</p>
            <button class="joinBtn" type="button" onclick= "location.href='/login'" >로그인</button>
        </footer>

</div>

</body>
</html>